body {
    font-family: Arial, sans-serif;
    background-color:rgba(112, 109, 104);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    text-transform: capitalize;
  }

 
  img{
    max-width: 100%;
    
  
    
    
}
  .container {
    background-color:rgba(255, 255, 255, 0.925);
    border-radius: 8px;
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.596);
    padding: 80px;
    width: 300px;
    
  }
  
  
  
  .form-group {
    margin-bottom: 40px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  .input-group {
    position: relative;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #000000;
    background-color: rgba(139, 252, 129, 0.596);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    -webkit-text-stroke: 1px black;
    
    
  }

  
 
 

  
  
 